* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: rgb(224, 9, 224);
}

img {
  width: 150px;
  height: 180px;
  object-fit: cover;
  border-radius: 25px;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2.5rem;
}

.section-title {
  text-align: center;
  text-transform: uppercase;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 1rem 0;
  border: 3px solid red;
  background: purple;
  color: white;
}

.section-center {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1rem;
  border: 3px solid red;
}

.card {
  border: 3px solid red;
}

.button {
  text-align: center;
}

.start {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background: rgb(156, 2, 156);
  color: white;
  text-transform: uppercase;
}

.start:hover {
  border-bottom: 25px solid rgb(55, 0, 55);
}
